* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  font-family: "Montserrat", sans-serif;
}
/* header */
header {
  padding: 0 20px;
  background-color: rgba(0, 0, 0, 0.678);
  width: 100%;
  position: absolute;
  z-index: 100;
  position: fixed;
}
/* header .header__content {
  position: fixed;
  top: 0;
} */
header .header__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 10px;
}
.header__content a {
  text-decoration: none;
  color: white;
}
.header__content .header__logo h1 {
  font-size: 3.2rem;
  font-weight: 300;
}
.header__content .header__logo span {
  color: #00cdce;
}
.header__content nav ul {
  list-style: none;
}
.header__content nav li {
  display: inline-block;
  padding: 10px 15px;
  margin: 0 15px;
  border-bottom: 2px solid white;
  transition: all 0.5s;
}
/* .header__content nav li::after {
  content: "";
  width: 100%;
  height: 2px;
  background-color: white;
  display: inline-block;
} */
/* tại sao k thể dùng thẻ after
 giống như bài porfolio */

.header__content nav li:hover {
  border-bottom: 2px solid rgba(255, 255, 255, 0);
}
.header__content nav li:hover a {
  color: #00cdce;
}
/* carousel */
.carousel__content .carousel__item {
  position: relative;
}
.carousel__content .carousel__item img {
  width: 100%;
  object-fit: cover;
}
.carousel__content .carousel__item .carousel__overlay {
  position: absolute;
  width: 100%;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}
.carousel__item .carousel__overlay h2 {
  font-size: 3.8rem;
  font-weight: 600;
  letter-spacing: 2px;
}
.carousel__item .carousel__overlay p {
  font-size: 1.5rem;
  color: rgba(255, 255, 255, 0.693);
  letter-spacing: 1px;
}
.carousel__content .slick-dots {
  bottom: 120px;
}
.carousel__content .slick-dots li {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: white;
  margin: 0 10px;
}
.carousel__content .slick-dots li button {
  display: none;
}
.carousel__content .slick-dots .slick-active {
  background-color: black;
}

.carousel__content .left {
  position: absolute;
  z-index: 20;
  background: url(../images/left-arrow.png);
  top: 42%;
  left: 2%;
  cursor: pointer;
}
.carousel__content .left p {
  visibility: hidden;
}
.carousel__content .right {
  position: absolute;
  z-index: 20;
  background: url(../images/right-arrow.png);
  top: 42%;
  right: 5%;
  cursor: pointer;
}
.carousel__content .right p {
  visibility: hidden;
}
/* about */
.about__content {
  text-align: center;
  padding: 20px 0;
  width: 85%;
  margin: auto;
}
.about__content h2 {
  font-size: 3.5rem;
  padding: 20px 0;
}
.about__content .about__list {
  display: flex;
  justify-content: space-between;
}

.about__content .about__list .about__item {
  padding: 10px;
}
.about__content .about__list .about__item i {
  padding: 35px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.582);
  font-size: 1.5rem;
  cursor: pointer;
  transition: all 0.5s;
}
.about__content .about__list .about__item i:hover {
  color: white;
  background-color: #00cdce;
}
.about__content .about__list .about__item p {
  padding-top: 20px;
  color: rgba(0, 0, 0, 0.621);
  font-size: 0.9rem;
  letter-spacing: 1px;
  line-height: 30px;
}
.about__content .about__info h3 {
  font-weight: 600;
  letter-spacing: 1px;
  color: #00cdce;
  font-size: 2rem;
}

.about__content .about__info p {
  padding: 20px;
  line-height: 30px;
  letter-spacing: 1px;
  font-size: 0.9rem;
}
/* start */
.start {
  background-color: #00cdce;
  text-align: center;
  padding: 50px 0;
}
.start .start__content {
  width: 85%;
  margin: 0 auto;
}
.start .start__content h2 {
  font-size: 3.5rem;
  letter-spacing: 1px;
  padding: 20px 0;
}
.start .start__content .start__number {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
}
.start__content .start__number h3 {
  color: white;
  font-size: 3.2rem;
  font-weight: 400;
  letter-spacing: 5px;
}
.start__content .start__number p {
  font-size: 1.9rem;
  letter-spacing: 3px;
}
.start__number .start__item {
  width: 25%;
}
/* blog */
.blog {
  padding: 50px 0;
}
.blog .blog__content {
  width: 85%;
  margin: auto;
}
.blog .blog__content h2 {
  text-align: center;
  font-size: 3.3rem;
  padding: 20px 0;
}
.blog .blog__content .blog__detail {
  display: flex;
  justify-content: space-between;
}
.blog__content .blog__detail .blog__item {
  margin: 0 15px;
  border-top: 5px solid #00cdce;
}
.blog__detail .blog__pic img {
  width: 100%;
  object-fit: cover;
}
.blog__detail .blog__text {
  background-color: #efefef;
  padding: 20px 20px;
}
.blog__detail .blog__text h3 {
  font-size: 1.3rem;
  color: #00cdce;
  letter-spacing: 1px;
  cursor: pointer;
  transition: all 0.5s;
}
.blog__detail .blog__text h3:hover {
  color: black;
}
.blog__detail .blog__text p {
  font-size: 0.9rem;
  line-height: 30px;
  letter-spacing: 1px;
}
.blog__detail .blog__text .btn {
  width: 140px;
  border-radius: 0;
  background-color: black;
  color: #00cdce;
  font-size: 1rem;
  transition: all 0.5s;
}
.blog__detail .blog__text .btn:hover {
  color: white;
}
.blog .blog__detail .blog__item .modal-content {
  border-radius: 0;
}
.blog__detail .blog__item .modal-content .modal-header {
  background-color: #00cdce;
  /* padding-top: 15px; */
  align-items: center;
}
.blog__detail .blog__item .modal-content .modal-header .close {
  font-size: 2.3rem;
  color: #a0260f;
  opacity: 1;
}
.blog__detail .blog__item .modal-content .modal-header .close i:hover {
  color: #006767;
}
.blog__detail .blog__item .modal-content .modal-header .modal-title {
  margin-left: auto;
  font-size: 2.3rem;
  color: white;
}
.blog .blog__item .modal-body img {
  width: 100%;
  object-fit: cover;
  margin-bottom: 20px;
}
.blog .blog__item .modal-body p {
  padding: 20px 30px;
  letter-spacing: 1px;
  line-height: 30px;
  font-size: 0.9rem;
}

@media (min-width: 576px) {
  .modal-dialog {
    max-width: 600px;
    margin: 1.75rem auto;
  }
}
/* getMore */
.getMore__content {
  display: flex;
  justify-content: center;
}
.getMore__content .getMore__detail {
  width: 55%;
  margin-left: auto;
  text-align: center;
  background-color: #00cdce;
  padding: 45px;
}
.getMore__content .getMore__detail h2 {
  font-size: 2.5rem;
}
.getMore__content .getMore__detail p {
  padding: 15px;
  color: white;
  font-size: 0.9rem;
  letter-spacing: 1px;
  line-height: 30px;
}
.getMore__content .getMore__movie {
  margin-right: auto;
  background-image: url(../images/video.jpg);
  background-position: center;
  background-size: cover;
  width: 45%;
  position: relative;
}
.getMore__content .getMore__movie .getMore__button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.getMore .getMore__movie .getMore__video {
  display: none;
}

.getMore__button a {
  font-size: 2rem;
  color: white;
  padding: 15px 18px;
  border-radius: 50%;
  background-color: #00cece6c;
}
.getMore__detail .btn {
  width: 140px;
  border-radius: 0;
  background-color: black;
  color: #00cdce;
  font-size: 1rem;
  transition: all 0.5s;
}
.getMore__detail .btn:hover {
  color: white;
}
.getMore .getMore__detail .modal-content {
  border-radius: 0;
}
.getMore .getMore__detail .modal-content .modal-header {
  background-color: #00cdce;
  /* padding-top: 15px; */
  align-items: center;
}
.getMore .getMore__detail .modal-content .modal-header .close {
  font-size: 2.3rem;
  color: #a0260f;
  opacity: 1;
}
.getMore .getMore__detail .modal-content .modal-header .close i:hover {
  color: #006767;
}
.getMore .getMore__detail .modal-content .modal-header .modal-title {
  margin-left: auto;
  font-size: 2.3rem;
  color: white;
}
.getMore .getMore__detail .modal-body img {
  width: 100%;
  object-fit: cover;
  margin-bottom: 20px;
}
.getMore .getMore__detail .modal-body p {
  padding: 20px 30px;
  letter-spacing: 1px;
  line-height: 30px;
  font-size: 0.9rem;
}
/* portfolio */
.portfolio {
  padding: 20px 100px;
}
.portfolio .portfolio__content h2 {
  text-align: center;
  font-size: 3.5rem;
  color: black;
  padding: 40px 0;
}
.portfolio .portfolio__content .portfolio__detail {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
  padding-bottom: 40px;
}
.portfolio__detail .portfolio__item {
  position: relative;
  padding: 0 10px;
}
.portfolio__detail .portfolio__item img {
  width: 100%;
  object-fit: cover;
}
.portfolio__detail .portfolio__item .portfolio__overlay {
  position: absolute;
  width: 90%;
  height: 90%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  background-color: rgba(0, 0, 0, 0.749);
  padding: 30px 60px;
  color: #00cdce;
  opacity: 0;
  transition: all 0.5s;
}
.portfolio__item .portfolio__overlay h3 {
  padding: 30px 30px;
  border-top: 1px solid #00cecec2;
  border-bottom: 1px solid #00cecec2;
  font-size: 1.5rem;
}
.portfolio__item .portfolio__overlay p {
  padding: 10px 0;
  color: white;
  font-size: 0.9rem;
  letter-spacing: 1px;
}
.portfolio__detail .portfolio__item:hover .portfolio__overlay {
  opacity: 1;
}
/* subscribe */
.subscribe {
  padding: 50px 100px;
  background-color: #00cdce;
  text-align: center;
}
.subscribe__content h2 {
  font-size: 3.5rem;
  color: black;
}
.subscribe__content p {
  color: white;
  font-size: 0.9rem;
  letter-spacing: 1px;
  padding: 50px 170px 15px;
}
.subscribe__content .subscribe__form {
  width: 50%;
  margin: auto;
}
.subscribe__content .subscribe__form form {
  display: flex;
  flex-direction: column;
}

.subscribe__form form input {
  padding: 15px 15px;
  font-size: 0.8rem;
  font-weight: 600;
  border: hidden;
  margin-bottom: 15px;
  outline: none;
}
.subscribe__form form button {
  width: 30%;
  height: 50px;
  margin: auto;
  background-color: black;
  color: white;
  font-size: 1.4rem;
  letter-spacing: 2px;
  border: 1px solid black;
  transition: all 0.5s;
  margin-bottom: 15px;
}

.subscribe__form form button:hover {
  background-color: #dfdfdf;
  color: black;
}
/* ourAgents */
.ourAgents {
  padding: 50px 0;
}
.ourAgents .ourAgents__content h2 {
  font-size: 3.5rem;
  color: black;
  text-align: center;
  padding: 20px 0;
}
.ourAgents__content .ourAgents__detail {
  width: 82%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  padding: 15px 0;
}

.ourAgents__item .ourAgents__img img {
  width: 100%;
  object-fit: cover;
}

.ourAgents__item .ourAgents__text {
  text-align: center;
  background-color: rgba(0, 0, 0, 0.788);
  padding: 15px;
  color: white;
}
.ourAgents__item .ourAgents__text h4 {
  font-size: 1.3rem;
  letter-spacing: 1px;
  color: #00cdce;
  font-weight: 600;
  padding: 5px;
  transition: all 0.1s;
  margin: 0;
}
.ourAgents__item:hover .ourAgents__text h4 {
  color: white;
}
.ourAgents__item .ourAgents__text p {
  margin: 0;
  font-size: 0.8rem;
  letter-spacing: 1px;
}
.ourAgents__text .ourAgents__icon {
  padding: 5px 0;
  display: flex;
  justify-content: space-between;
  width: 60%;
  margin: auto;
}
.ourAgents__text .ourAgents__icon i {
  font-size: 0.8rem;
  width: 30px;
  height: 30px;
  line-height: 30px;
  border: 2px solid white;
  transition: all 0.5s;
  cursor: pointer;
}
.ourAgents__text .ourAgents__icon .fa-facebook-f:hover {
  background-color: #3b5998;
}
.ourAgents__text .ourAgents__icon .fa-twitter:hover {
  background-color: #55acee;
}
.ourAgents__text .ourAgents__icon .fa-rss:hover {
  background-color: #f26522;
}
/* map */
.map {
  padding: 15px;
  background-color: rgba(128, 128, 128, 0.719);
  border: 2px solid #00cdce;
}
.map iframe {
  width: 100%;
}
/* contactUs */
.contactUs {
  padding: 50px 0;
}
.contactUs .contactUs__content h2 {
  font-size: 3.5rem;
  color: black;
  text-align: center;
  padding: 20px 0;
}
.contactUs__content .contactUs__form {
  width: 83%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  padding: 20px 0;
}
.contactUs__content .contactUs__form .form__left,
.form__right {
  width: 48.5%;
}
.contactUs__content .contactUs__form .form__left form,
.form__right form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.contactUs__content .contactUs__form .form__left input {
  padding: 13px;
  border: hidden;
  border-bottom: 2px solid rgba(0, 0, 0, 0.348);
  background-color: #efefef;
  font-size: 0.8rem;
  outline: none;
  transition: all 0.5s;
}
.contactUs__content .contactUs__form .form__left input:not(:last-of-type) {
  margin-bottom: 25px;
}
.contactUs__content .contactUs__form .form__left input:hover {
  border-bottom: 2px solid black;
}
.contactUs__content .contactUs__form .form__left input:focus {
  border-bottom: 2px solid black;
}
.contactUs__content .contactUs__form .form__right textarea {
  padding: 13px;
  border: hidden;
  border-bottom: 2px solid rgba(0, 0, 0, 0.348);
  background-color: #efefef;
  font-size: 0.8rem;
  outline: none;
  margin-bottom: 37px;
  transition: all 0.5s;
  resize: none;
}
.contactUs__content .contactUs__form .form__right textarea:hover {
  border-bottom: 2px solid black;
}
.contactUs__content .contactUs__form .form__right textarea:focus {
  border-bottom: 2px solid black;
}
.contactUs__content .contactUs__form .form__right button {
  padding: 13px;
  border: hidden;
  background-color: black;
  color: white;
  font-size: 0.9rem;
  transition: all 0.5s;
}
.contactUs__content .contactUs__form .form__right button:hover {
  background-color: #00cdce;
  color: white;
}
/* footer */
footer {
  background-color: #00cdce;
  padding: 40px 0;
}
footer .footer__content {
  display: flex;
  justify-content: space-between;
  width: 70%;
  margin: auto;
  align-items: center;
  padding-right: 20px;
}
footer .footer__content .footer__left p {
  margin: 0;
  color: white;
  letter-spacing: 1px;
  font-size: 0.9rem;
}
footer .footer__content .footer__left span {
  color: red;
}
footer .footer__content .footer__right {
  display: flex;
  justify-content: space-between;
  width: 22%;
}

footer .footer__content .footer__right i {
  width: 35px;
  height: 35px;
  line-height: 35px;
  border: 1px solid white;
  text-align: center;
  font-size: 1.2rem;
  color: white;
  cursor: pointer;
  transition: all 0.5s;
}
footer .footer__content .footer__right .fa-facebook-f:hover {
  color: #3b5998;
}
footer .footer__content .footer__right .fa-twitter:hover {
  color: #55acee;
}
footer .footer__content .footer__right .fa-rss:hover {
  color: #f26522;
}
footer .footer__content .footer__right .fa-vk:hover {
  color: #3b5998;
}
/* backTopTop */
.backToTop {
  display: block;
  width: 30px;
  height: 30px;
  background-image: url(../images/arrowup.png);
  background-position: center;
  background-size: cover;
  position: fixed;
  bottom: 50px;
  right: 50px;
  opacity: 0;
  visibility: hidden;
}
.cd-top--is-visible {
  visibility: visible;
  opacity: 1;
}
/* done */
